
xmatters/.project

xmatters/.pydevproject

*.pyc

xmatters/.settings/org.eclipse.core.resources.prefs

xmatters/xmatters.egg-info/*

xmatters/dist/xmatters-1.0.0.dev1.tar.gz

xmatters/build/*

xmatters/dist/xmatters-1.0.0.dev1-py3-none-any.whl

*.log
